out/class_diagram/last_update_diagram
### IntelliJ IDEA ###
out/production/*
status*/src/main/**/out/
status*/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
status*/src/main/**/bin/
status*/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


ignorables/*
./src/Thoughts.md
